<%- include('./partials/header') %>

<h2 class="heading">BeautyBook Discussions</h2>
<img class="home-img" src="/images/Beauty-Tips.png">
 <div class="sub-text">
  <p>Join the discussion! </p>
  <p>Learn new tips and ticks to slay your next look or contribute your own advice</p>
  <button id="sign-up"><a href="/auth/google" class="login">&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>Sign Up!</button>
</div>

<%- include('./partials/footer') %>