* {
  box-sizing: border-box;
  font-family: open-sans;
  background-color: #f4efe4;
  color: #424748;

}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "nav";
  
}

body > nav {
  grid-area: nav;
  background-color: #ebe0cb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px 0px 30px;
  height: 90px;
}

nav > img {
  width: 90px;
  object-fit: contain;
  margin-right: auto;
  background-color: transparent;
}

/* Home Page Title */
.heading {
  margin-top: 75px;
  margin-left: 30px;
  font-family: "Comfortaa";
  font-size: 40px;
}

.home-img {
  margin-top: -580px;
  width: 100%;
}

/* Home Page P-text (sub-text) */
p {
  margin: 0;
}

.sub-text {
  margin-top: -158px;
  font-size: 28px;
  text-align: center;
  font-family: "Open-Sans";
}

.footer {
  display: flex;
  height: 50px;
  background-color: black;
  justify-content: flex-end;
  align-items: center;
}

/* body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
} */

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: transparent; /* !!! change back to backgroun color if img does not work*/
  
 
}

#new-form *,
#add-comment-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent; /* !!! change back to backgroun color if img does not work*/
  
}



#new-form input[type="submit"] {
  margin-top: 50px;
  margin-left: auto;
  color: white;
  background-color: black;

}
/* !!! look into how to add img to page background*/
.new-tip-pg {
  margin-top: 200px;
  background-image: url("/images/newformImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
 
} 

/* All Tips Table */

table {
  font-size: 1.5vw;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 90vw;

}

#list {
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
table thead th {
  padding: 5px;
  border-bottom: 5px solid #000000;
  
}

#list td:nth-child(1),
#list td:nth-child(2),
#list td:nth-child(3),
#list td:nth-child(4),
#list td:nth-child(5),
#list td:nth-child(6) {
  min-width: 100px;
  text-align: center;
}


#list a {
  border-radius: 4px;
  background-color: #000000;
  color: white;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

td > a, button {
  border-radius: 4px;
  text-align: center;
  background-color: #000000;
  color: white;
  padding: 4px;
  }

#form-delete {
  margin: 0;
}

#list button:hover {
  background-color: white;
}


#show-page {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  /* grid-template-columns: auto auto;
  grid-gap: 1rem; */
}

#show-page div:nth-child(even) {
  font-weight: bold;
}


#add-comment-form,
#add-performer-form {
 display: inline-block;
  /*  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem; */
}

#add-comment-form input[type="submit"],
#add-performer-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #b8c0c2;
  border-radius: 0.5rem;
  margin: 0.5rem 0 2rem;
}

.badge {
  background-color: #b8c0c2;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  text-decoration: none;
}

.login img {
  height: 30px;
}

button > .login img {
  height: 20px;
  background-color: black;
}

button > .login {
  background-color: black;
}
#sign-up > {
  background-color: black;
  text-decoration: none;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

.comment-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  width: 40vw;
}

.editBtn {
  border-radius: 4px;
  text-align: center;
  background-color: #000000;
  color: white;
  padding: 4px;
  text-decoration: none;
  font-size: 13.333px;


}

#editCmt-page {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
} 


#editCmt-page *,
#add-comment-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#editCmt-page input[type="submit"] {
  margin-top: 50px;
  margin-left: auto;
  color: white;
  background-color: black;
 
}

