<%- include('../partials/header') %>

<form id="new-form" action="/tips" method="POST">
  <label>New Tip:</label>
  <input type="text" name="title">

  <!-- <label>Now Showing:</label> -->
  <!-- <input type="checkbox" name="nowShowing" checked> -->
  <input type="submit" value="Add Tip">
</form>

<%- include('../partials/footer') %>