<%- include('../partials/header') %>

<form id="new-form" action="/tips" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">

  </select>
  <!-- <label>Now Showing:</label> -->
  <!-- <input type="checkbox" name="nowShowing" checked> -->
  <input type="submit" value="Add Tip">
</form>

<%- include('../partials/footer') %>